@model IEnumerable<ToDoList.Models.Job>

@{
    ViewData["Title"] = "Tasks";
}

<h1>Tasks</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-dark">
    <thead class="table-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finished)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finished)
            </td>
            <td>
                <a class="text-white" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="text-white" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="text-white" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
